<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/profile.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <nav class="custom-navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <img class="logo" src="/images/Sophic-Logo-rotating-globe-2.gif" alt="Sophic Logo">
                <span class="bar">|</span>
                <span class="navbar-text">Sophic RPA Document Automation</span> <!-- Add text here -->
            </div>
            <!-- Example dropdown menu -->
            <div class="btn-group">
                <button type="button" class="btn custom-btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="/images/menu.png" alt="Bars Image">
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/index">Home Page</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/signout">Signout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container shadow rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="p-4 py-5">
                <!-- Adding 3 units padding to all sides and 5 units padding to the top and bottom -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2"> <!-- Margin top 2 -->
                    <div class="col-md-6">
                        <label class="labels">Name</label>
                        <input type="text" class="form-control" placeholder="" value="<%= user.name %>" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Department</label>
                        <input type="text" class="form-control" placeholder="surname" value="<%= user.department %>"
                            readonly>
                    </div>
                </div>
                <div class="row mt-3"> <!-- Margin bottom 3 -->
                    <div class="col-md-6">
                        <label class="labels">Superior</label>
                        <input type="text" class="form-control" placeholder="" value="<%= user.superior %>" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Manager</label>
                        <input type="text" class="form-control" placeholder="enter address line 1"
                            value="<%= user.manager %>" readonly>
                    </div>
                    <!-- Add more pairs of columns as needed -->
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Enter your number" value="">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Job Title</label>
                        <input type="text" class="form-control" placeholder="Enter Job Title" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Division</label>
                        <input type="text" class="form-control" placeholder="Enter your division" value="">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                    <button class="btn btn-outline-success" onclick="togglePopup()">
                        Change Password
                    </button>

                    <div id="popupOverlay" class="overlay-container">
                        <!--Targeted element by js to display the pop up-->
                        <div class="popup-box">
                            <h4>Change Your Password</h4>
                            <form class="form-container" action="update-password" method="POST">
                                <label class="form-label" for="currentPassword">
                                    Current Password:
                                </label>
                                <input class="form-input" type="password" placeholder="" id="currentPassword"
                                    name="currentPassword" required>
                                <label class="form-label" for="newPassword">New Password</label>
                                <input class="form-input" type="password" placeholder="" id="newPassword"
                                    name="newPassword" required>

                                <label class="form-label" for="confirmNewPassword">Confirm New Password</label>
                                <input class="form-input" type="password" placeholder="" id="confirmNewPassword"
                                    name="confirmNewPassword" required>

                                <% if(errorMessage) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= errorMessage %>
                                    </div>
                                    <% } %>

                                        <button class="btn btn-primary pass-btn" type="submit">
                                            Update Password
                                        </button>
                            </form>
                            <button class="btn btn-danger mt-2" onclick="togglePopup()">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div id="footer">
            <div id="left-column">
                <span id="copyright">
                    © 2023 Copyright Sophic Automation Sdn. Bhd. All Rights Reserved.
                    <br>
                    Designed by Sophic Automation Sdn. Bhd.
                </span>
            </div>
            <div id="right-column">
                <span id="version">v1.0.0</span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function togglePopup() {
            const overlay = document.getElementById('popupOverlay');
            overlay.classList.toggle('show');
        } 
    </script>
</body>

</html>