<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Request Form</title>

    <!-- Include Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Select CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css"
        rel="stylesheet">

    <!-- Link to CSS File -->
    <link rel="stylesheet" href="/styles/purchaseRequest.css">

    <!-- Include FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-xNwst97e2eJm9Pwes7xxN9MEChdGk3pMePz2mO7qYj9UJeS3uQW3on3O1Xh7xl3J5y7X0R3gmr0WvwA9qXvZhA=="
        crossorigin="anonymous" />

</head>

<body>
    <nav class="custom-navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <img class="logo" src="/images/Sophic-Logo-rotating-globe-2.gif" alt="Sophic Logo">
                <span class="bar">|</span>
                <span class="navbar-text">Sophic RPA Document Automation</span> <!-- Add text here -->
            </div>
            <!-- Example dropdown menu -->
            <div class="btn-group">
                <button type="button" class="btn custom-btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="/images/menu.png" alt="Bars Image">
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/index"><i class="far fa-home"></i> Home Page</a>
                    <a class="dropdown-item" href="/userProfile/profile">User Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/auth/signout">Signout</a>
                </div>
            </div>
        </div>
    </nav>

    <form id="add-form" action="/purchase/submit" method="POST">
        <div class="container shadow rounded bg-white">
            <div class="row">
                <div class="shadow rounded">
                    <div class="row form-header">
                        <div class="d-flex justify-content-between align-items-center p-4">
                            <h4 style="color: white;" class="text-right">Purchase Request Form</h4>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-md-4">
                            <label class="labels">Request by</label>
                            <input type="text" name="fullName" class="form-control"
                                value="<%= firstName %> <%= lastName %>" required>
                        </div>
                        <div class="col-md-4">
                            <label class="labels">Date</label>
                            <input type="date" name="requestDate" class="form-control"
                                value="<%= new Date().toISOString().split('T')[0] %>" required>
                        </div>
                        <div class="col-md-4">
                            <label class="labels">Customer Name</label>
                            <input name="customerName" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="row px-4">
                        <div class="col-md-3">
                            <label class="labels">Requisition No.</label>
                            <input name="requisitionNo" type="text" value="<%= requisitionNo %>" class="form-control"
                                readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="labels">Online Purchase</label>
                            <input name="onlinePurchase" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-3">
                            <label class="labels">Quotation No.</label>
                            <input name="quotationNo" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-3">
                            <br>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" value="Machine Build" name="prType" id="machine"
                                    autocomplete="off" required>
                                <label class="btn btn-outline-danger" for="machine">Machine Build</label>

                                <input type="radio" class="btn-check" value="Trading" name="prType" id="trading"
                                    autocomplete="off" required>
                                <label class="btn btn-outline-success trading-label" for="trading">Trading</label>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-md-6">
                            <label class="labels">Sophic Project Category</label>
                            <select aria-label="Default select example" name="SPC" type="text" class="form-select"
                                required>
                                <option value="" disabled selected hidden>Select Sophic Project Category</option>
                                <option value="AIMMS-Automated Intelligent Material Management System">AIMMS-Automated
                                    Intelligent Material Management System</option>
                                <option value="AIVIS-Automated Intelligent Vision Inspection System">AIVIS-Automated
                                    Intelligent Vision Inspection System</option>
                                <option value="AMR-Automated Guided Vehicle/Automated Mobile Robot">AMR-Automated Guided
                                    Vehicle/Automated Mobile Robot</option>
                                <option value="ICCS-Intelligent Command Center System">ICCS-Intelligent Command Center
                                    System</option>
                                <option value="AIHTS-Automated Intelligent Handling and Testing System">AIHTS-Automated
                                    Intelligent Handling and Testing System</option>
                                <option value="ARSG-Augmented Reality Smart Glass">ARSG-Augmented Reality Smart Glass
                                </option>
                                <option value="OTHERS-Trading, PCB, Service, Office Use and etc">OTHERS-Trading, PCB,
                                    Service, Office Use and etc</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="labels">Type for Purchase</label>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="TFP" id="fixed-asset" autocomplete="off"
                                    required>
                                <label class="btn btn-outline-danger" for="fixed-asset">Fixed
                                    Asset</label>

                                <input type="radio" class="btn-check" name="TFP" id="expense" autocomplete="off"
                                    required>
                                <label class="btn btn-outline-success expense-label" for="expense">Expense</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="labels">Customer PO</label>
                            <input name="customerPo" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="row px-4">
                        <div class="col-md-4">
                            <label class="labels">Supplier Name</label>
                            <input name="supplierName" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-5">
                            <label class="labels">Project Description</label>
                            <input name="projectDescription" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-3">
                            <label class="labels">Supplier Type</label>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="ST" id="oem" autocomplete="off" required>
                                <label class="btn btn-outline-danger" for="oem">OEM</label>

                                <input type="radio" class="btn-check" name="ST" id="oemd" autocomplete="off" required>
                                <label class="btn btn-outline-info" for="oemd">OEM D*</label>

                                <input type="radio" class="btn-check" name="ST" id="st-trading" autocomplete="off"
                                    required>
                                <label class="btn btn-outline-success" for="st-trading">TRADING</label>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="collapse" id="pr-collapse">
                            <div class=" card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="labels">Internal Use <small>(Opt.)</small></label>
                                        <input name="internalUse" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="labels">Purchase Department <small>(Opt.)</small></label>
                                        <input name="purchaseDepartment" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (successMessage || errorMessage) { %>
                        <div class="text-center px-4">
                            <% if(successMessage) { %>
                                <div class="alert alert-success alert-sm alert-dismissible fade show" role="alert">
                                    <%= successMessage %>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                                <% } else if (errorMessage) { %>
                                    <div class="alert alert-danger alert-sm alert-dismissible fade show" role="alert">
                                        <%= errorMessage %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                    <% } %>
                        </div>
                        <% } %>
                            <div class="row px-4">
                                <div class="col-md-12">
                                    <p class="d-inline-flex gap-1">
                                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#pr-collapse" aria-expanded="false"
                                            aria-controls="pr-collapse">
                                            See Optional Fields
                                        </button>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">
                                            Add Product Details
                                        </button>
                                    </p>
                                </div>

                            </div>
                            <div class="row px-4 pb-4">
                                <div class="col-md-6">
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Product
                                                        Details</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="show-item">
                                                        <div class="row p-4">
                                                            <div class="col-md-1 mb-3">
                                                                <label class="labels">Item</label>
                                                                <input type="number" name="itemNumber"
                                                                    class="form-control" id="itemNumber" readonly>
                                                            </div>

                                                            <div class="col-md-1 mb-3">
                                                                <label class="labels">Part No. *</label>
                                                                <input type="text" name="partNumber[]"
                                                                    class="form-control " required>
                                                            </div>

                                                            <div class="col-md-2 mb-3">
                                                                <label class="labels">Brand *</label>
                                                                <input type="text" name="brand[]" class="form-control "
                                                                    required>
                                                            </div>
                                                            <div class="col-md-3 mb-3">
                                                                <label class="labels">Description *</label>
                                                                <textarea class="form-control "
                                                                    id="exampleFormControlTextarea1" rows="2"
                                                                    name="description[]" required></textarea>
                                                            </div>
                                                            <div class="col-md-2 mb-3">
                                                                <label class="labels">Date Required *</label>
                                                                <input type="date" name="dateRequired[]"
                                                                    class="form-control" required>
                                                            </div>
                                                            <div class="col-md-1 mb-3">
                                                                <label class="labels">Qty *</label>
                                                                <input type="number" name="quantity"
                                                                    class="form-control" required>
                                                            </div>
                                                            <div class="col-md-2 mb-3">
                                                                <label class="labels">Currency *</label>
                                                                <input name="currency[]" type="text"
                                                                    class="form-control" list="currency"
                                                                    id="currencyInput">
                                                                <datalist id="currency">
                                                                    <option value="" selected disabled hidden>select
                                                                        currency
                                                                    </option>
                                                                    <option value="MYR">Malaysian Ringgit</option>
                                                                    <option value="ALL">Albanian Lek</option>
                                                                    <option value="SAR">Saudi Riyal</option>
                                                                    <option value="USD">US Dollar</option>
                                                                    <option value="POD">UK Pound</option>
                                                                </datalist>
                                                                <div id="error" style="color: red;"></div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="collapse" id="pd-collapse">
                                                                    <div class="row">
                                                                        <!-- DT Optional -->
                                                                        <div class="col-md-3 mb-3">
                                                                            <label class="labels">Delivery Term
                                                                                <small>(Opt.)</small></label>
                                                                            <input name="deliveryTerm" type="text"
                                                                                class="form-control">
                                                                        </div>

                                                                        <!-- LT Optional -->
                                                                        <div class="col-md-3 mb-3">
                                                                            <label class="labels">Lead Time
                                                                                <small>(Opt.)</small></label>
                                                                            <input name="leadTime" type="text"
                                                                                class="form-control">
                                                                        </div>

                                                                        <!-- Tax Optional -->
                                                                        <div class="col-md-3 mb-3">
                                                                            <label class="labels">Tax (%)
                                                                                <small>(Opt.)</small></label>
                                                                            <input name="tax" type="number"
                                                                                class="form-control">
                                                                        </div>

                                                                        <!-- Tax Optional -->
                                                                        <div class="col-md-3 mb-3">
                                                                            <label class="labels">Exwork
                                                                                Address/Remark
                                                                                <small>(Opt.)</small></label>
                                                                            <input name="exwork" type="text"
                                                                                class="form-control">
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-2 mb-3">
                                                                    <label class="labels">Unit Price *</label>
                                                                    <input name="unitPrice" type="number"
                                                                        name="unit-price[]" class="form-control "
                                                                        required>
                                                                </div>

                                                                <div class="col-md-2 mb-3">
                                                                    <label class="labels">Total Price</label>
                                                                    <input name="totalPrice" type="number"
                                                                        name="total-price[]" class="form-control"
                                                                        required>
                                                                </div>

                                                                <div class="col-md-6 mt-4">
                                                                    <p class="d-inline-flex gap-1">
                                                                        <button class="btn btn-outline-primary"
                                                                            type="button" data-bs-toggle="collapse"
                                                                            data-bs-target="#pd-collapse"
                                                                            aria-expanded="false"
                                                                            aria-controls="pd-collapse">
                                                                            See Optional Fields
                                                                        </button>
                                                                        <!-- Button trigger modal -->
                                                                        <button type="button"
                                                                            class="btn btn-success add_item_btn">Add
                                                                            More</button>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 px-4">
                                                        <button type="submit" class="btn btn-primary w-25"
                                                            id="submit_modal_btn">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Select JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        // Hide navbar on scroll down
        // Get the navbar
        var navbar = document.querySelector(".custom-navbar");

        // Get the initial position of the page
        var prevScrollpos = window.pageYOffset;

        // Function to handle scroll event
        window.onscroll = function () {
            // Get the current scroll position
            var currentScrollPos = window.pageYOffset;

            // If the user scrolls down
            if (prevScrollpos < currentScrollPos) {
                // Hide the navbar by adding a class
                navbar.classList.add("hidden");
            } else {
                // Show the navbar by removing the class
                navbar.classList.remove("hidden");
            }

            // Update the previous scroll position
            prevScrollpos = currentScrollPos;
        }

        // Counter for generating unique IDs
        var collapseCount = 0;

        // Function to generate unique IDs for collapse elements
        function generateUniqueCollapseID() {
            collapseCount++;
            return "pd-collapse" + collapseCount;
        }

        document.getElementById("itemNumber").value = 1;

        $(document).ready(function () {
            // Counter for item number
            var itemNumber = 1;

            // Function to validate the form's required fields
            function validateForm() {
                var isValid = true;
                // Loop through each input field and check if it's required and filled
                $('input, select, textarea').each(function () {
                    // Check if the field is required and if it's filled
                    if ($(this).attr('required') && $(this).val().trim() === '') {
                        isValid = false;
                        return false; // Exit the loop if a required field is empty
                    }
                });
                return isValid;
            }

            // Event listener for the Submit button inside the modal
            $('#submit_modal_btn').click(function () {
                // Check if all required fields are filled
                if (validateForm()) {
                    // Manually trigger form submission
                    $('#add-form').submit();
                } else {
                    // Display an alert or error message indicating that required fields need to be filled
                    // alert('Please fill all required fields.');
                }
            });

            //This function is triggered when any element with the class add_item_btn is clicked.
            $(".add_item_btn").click(function (e) {
                e.preventDefault(); //Prevent default action of form being submitted 

                // Generate unique IDs for collapse elements
                var collapseID = generateUniqueCollapseID();

                // Increment item number
                itemNumber++;


                //dynamically adds a new set of input fields for product to the container with class .show-item
                $("#show-item").append(`<div class="row p-4">
                                                    <div class="col-md-1 mb-3">
                                                        <label class="labels">Item</label>
                                                        <input type="number" name="item-number[]" class="form-control"
                                                            value="${itemNumber}" readonly>
                                                    </div>

                                                    <div class="col-md-1 mb-3">
                                                        <label class="labels">Part No. *</label>
                                                        <input type="text" name="part-number[]" class="form-control"
                                                            required>
                                                    </div>

                                                    <div class="col-md-2 mb-3">
                                                        <label class="labels">Brand *</label>
                                                        <input type="text" name="brand[]" class="form-control" required>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label class="labels">Description *</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                            rows="2" name="description[]" required></textarea>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label class="labels">Date *</label>
                                                        <input type="date" name="date[]" class="form-control" required>
                                                    </div>
                                                    <div class="col-md-1 mb-3">
                                                        <label class="labels">Qty *</label>
                                                        <input type="number" name="date[]" class="form-control"
                                                            required>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label class="labels">Currency *</label>
                                                        <select class="form-select" id="currency" name="currency[]"
                                                            required>
                                                            <option selected disabled hidden>select currency
                                                            </option>
                                                            <option value="AFN">Afghan Afghani</option>
                                                            <option value="YER">Yemeni Rial</option>
                                                            <option value="ZMK">Zambian Kwacha</option>
                                                        </select>
                                                    </div>

                                                    <div class="row">
                                                        <div class="collapse" id="${collapseID}">
                                                            <div class="row">
                                                                <!-- DT Optional -->
                                                                <div class="col-md-3 mb-3">
                                                                    <label class="labels">Delivery Term
                                                                        <small>(Optional)</small></label>
                                                                    <input type="text" class="form-control">
                                                                </div>

                                                                <!-- LT Optional -->
                                                                <div class="col-md-3 mb-3">
                                                                    <label class="labels">Lead Time
                                                                        <small>(Optional)</small></label>
                                                                    <input type="text" class="form-control">
                                                                </div>

                                                                <!-- Tax Optional -->
                                                                <div class="col-md-3 mb-3">
                                                                    <label class="labels">Tax (%)
                                                                        <small>(Optional)</small></label>
                                                                    <input type="text" class="form-control">
                                                                </div>

                                                                <!-- Tax Optional -->
                                                                <div class="col-md-3 mb-3">
                                                                    <label class="labels">Exwork
                                                                        Address/Remark <small>(Optional)</small></label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-2 mb-3">
                                                            <label class="labels">Unit Price *</label>
                                                            <input type="number" name="unit-price[]"
                                                                class="form-control" required>
                                                        </div>

                                                        <div class="col-md-2 mb-3">
                                                            <label class="labels">Total Price</label>
                                                            <input type="number" name="total-price[]"
                                                                class="form-control" required>
                                                        </div>

                                                        <div class="col-md-6 mt-4">
                                                            <p class="d-inline-flex gap-1">
                                                                <button class="btn btn-outline-primary" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#${collapseID}"
                                                                    aria-expanded="false"
                                                                    aria-controls="${collapseID}">
                                                                    See Optional Fields
                                                                </button>
                                                                <!-- Button trigger modal -->
                                                                <button class="btn btn-danger remove_item_btn m-auto">Remove</button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>`);
            });

            $(document).on('click', '.remove_item_btn', function (e) {
                e.preventDefault();
                itemNumber--;
                let row_item = $(this).parent().parent().parent().parent();
                $(row_item).remove();
            });
        });

        // Validate currency input
        $(document).ready(function () {
            $('#currencyInput').on('input', function () {
                var input = $(this).val().toUpperCase(); // Convert input to uppercase for case-insensitive comparison
                var found = $('#currency').find('option[value="' + input + '"]').length > 0;
                if (!found) {
                    $('#error').text("Invalid currency");
                    $(this).val(''); // Clear the input field
                } else {
                    $('#error').text('');
                }
            });
        });



    </script>


</body>

</html>